﻿@using GasStationTraining.Models
@using GasStationTraining.Models.CustomModels
@{
    var gasTypes = (List<M_Type>)ViewBag.gasTypes;
    var districts = (List<District>)ViewBag.districts;
    var ratings = (List<M_Type>)ViewBag.ratings;
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <form action="">
                <h4 class="w-100 text-center my-5">ガソリンスタンド登録</h4>
                <div class="form-group">
                    <div class="row">
                        <div class="col-5">
                            <label for="" class="d-inline">ガソリンスタンド名:</label>
                        </div>
                        <div class="col-7">
                            <input type="text" name="" id="name-gas" class="form-control d-inline" placeholder=""
                                   aria-describedby="helpId" autofocus tabindex="1">
                            <small id="name-gas-err" class="text-danger"></small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row justify-content-center">
                        <div class="col-5">
                            <label for="" class="d-inline">種類:</label>
                        </div>
                        <div class="col-5 mr-auto">
                            @foreach (var item in gasTypes)
                            {
                                <div class="row">
                                    <div class="col-3">
                                        <input type="checkbox" name="gasType" class="form-control h-75" id="@item.TypeText" value="@item.TypeCode" tabindex="2">
                                    </div>
                                    <div class="col-6">
                                        <label for="" style="    margin-left: -28px;"> @item.TypeText</label>
                                    </div>
                                </div>
                            }
                            <small id="type-err" class="text-danger"></small>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-5">
                            <label for="longitude" class="d-inline">Longitude:</label>
                        </div>
                        <div class="col-7">
                            <input type="text" name="" id="longitude" class="form-control d-inline" placeholder="format x.xx"
                                   aria-describedby="helpId" tabindex="3">
                            <small id="longitude-err" class="text-danger"></small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-5">
                            <label for="latitude" class="d-inline">Latitude:</label>
                        </div>
                        <div class="col-7">
                            <input type="text" name="" id="latitude" class="form-control d-inline" placeholder="format x.xx"
                                   aria-describedby="helpId" tabindex="4">
                            <small id="latitude-err" class="text-danger"></small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-5">
                            <label for="" class="d-inline">
                                地区:
                            </label>
                        </div>
                        <div class="col-7">
                            <select class="form-control" name="" id="district" tabindex="5">
                                <option value="none"></option>
                                @{
                                    foreach (var item in districts)
                                    {
                                        <option value="@item.DistrictId">@item.DistrictName</option>
                                    }
                                }
                            </select>
                            <small id="district-err" class="text-danger"></small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-5">
                            <label for="" class="d-inline">住所</label>
                        </div>
                        <div class="col-7">
                            <input type="text" name="" id="address" class="form-control d-inline" placeholder=""
                                   aria-describedby="helpId" tabindex="6">
                            <small id="address-err" class="text-danger"></small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-5">
                            <label for="" class="d-inline">開館時間:</label>
                        </div>
                        <div class="col-7">
                            <input type="text" name="" id="open-time" class="form-control d-inline" placeholder=""
                                   aria-describedby="helpId" tabindex="7">
                            <small id="open-time-err" class="text-danger"></small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-5">
                            <label for="" class="d-inline">評価:</label>
                        </div>
                        <div class="col-7">
                            @foreach (var item in ratings)
                            {
                                if (item.TypeText == "Mid")
                                {
                                    <input type="radio" name="rating" id="@item.TypeText" autocomplete="on" value="@item.TypeCode" style="height: 25px;width: 20px; margin-left: 20px;" checked tabindex="8">
                                }
                                else {
                                    <input type="radio" name="rating" id="@item.TypeText" autocomplete="on" value="@item.TypeCode" style="height: 25px;width: 20px; margin-left: 20px; "tabindex="8">
                                }
                                
                                if (item.TypeText == "Good")
                                {
                                    <i class="fas fa-certificate text-danger" style="font-size: 35px;"></i>
                                }
                                else if (item.TypeText == "Mid")
                                {
                                    <i class="fas fa-certificate text-primary" style="font-size: 35px;"></i>
                                }
                                else
                                {
                                    <i class="fas fa-certificate text-muted" style="font-size: 35px;"></i>
                                }

                            }

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">

                    </div>
                    <div class="col-7">
                        <div class="row">
                            <div class="col-6">
                                <button style="width: 130px;" type="submit" name="" id="submit"tabindex="9" class="btn btn-success" btn-lg btn-block>登録</button>
                            </div>
                            <div class="col-6">
                                <button style="width: 130px;" type="button" name="" id="back" tabindex="10" class="btn btn-primary" btn-lg btn-block>戻る</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="~/js/components/add-new.js"></script>