﻿@using GasStationTraining.Models
@using GasStationTraining.Models.CustomModels
@{
    var gasTypes = (List<M_Type>)ViewBag.gasTypes;
    var districts = (List<District>)ViewBag.districts;
    var ratings = (List<M_Type>)ViewBag.ratings;
    var aGasStation = (GasStation)ViewBag.aGasStation;
    var gasTypeById = (List<GasStationGasType>)ViewBag.gasTypeById;
    var feedbacks = (List<GasStationFeedback>)ViewBag.feedbacks;
    var totalPage = (int)ViewBag.totalPage;
    var gasId = (long)ViewBag.gasId;
}
<div class="container">
    <input type="hidden" value="0" id="currPage"/>
    <input type="hidden" value="@gasId" id="gasId"/>
    <input type="hidden" value="@totalPage" id="totalPage"/>
    <h4 class="text-center my-5">フィードバックビュー</h4>
    <div class="row justify-content-center">
        <div class="col-6">
            <form action="" id="form">
                <input type="hidden" id="gasId" value="@aGasStation.GasStationId" />
                <div class="form-group">
                    <div class="row">
                        <div class="col-5">
                            <label for="" class="d-inline">ガソリンスタンド名:</label>
                        </div>
                        <div class="col-7">
                            <input type="text" name="" id="name-gas" class="form-control d-inline" placeholder=""
                                   aria-describedby="helpId" value="@aGasStation.GasStationName" readonly>
                            <small id="name-gas-err" class="text-danger"></small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row justify-content-center">
                        <div class="col-5">
                            <label for="" class="d-inline">種類:</label>
                        </div>
                        <div class="col-5 mr-auto">
                            @foreach (var item in gasTypes)
                            {
                                @foreach (var ele in gasTypeById)
                                {
                                    if (item.TypeCode == ele.GasType)
                                    {
                                        <span>@item.TypeText</span>
                                        break;
                                    }
                                }
                            }
                            <small id="type-err" class="text-danger"></small>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-5">
                            <label for="" class="d-inline">住所</label>
                        </div>
                        <div class="col-7">
                            <input type="text" name="" id="address" class="form-control d-inline" placeholder=""
                                   aria-describedby="helpId" value="@aGasStation.Address" readonly>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-5">
                            <label for="" class="d-inline">開館時間:</label>
                        </div>
                        <div class="col-7">
                            <input type="text" name="" id="open-time" class="form-control d-inline" placeholder=""
                                   aria-describedby="helpId" value="@aGasStation.OpeningTime" readonly>
                            <small id="open-time-err" class="text-danger"></small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-5">
                            <label for="" class="d-inline">評価:</label>
                        </div>
                        <div class="col-7">
                            @foreach (var item in ratings)
                            {
                                if (item.TypeText == "Good" && item.TypeCode == aGasStation.Rating)
                                {
                                    <i class="fas fa-certificate text-danger" style="font-size: 35px;"></i>
                                }
                                else if (item.TypeText == "Mid" && item.TypeCode == aGasStation.Rating)
                                {
                                    <i class="fas fa-certificate text-primary" style="font-size: 35px;"></i>
                                }
                                else if (item.TypeText == "Bad" && item.TypeCode == aGasStation.Rating)
                                {
                                    <i class="fas fa-certificate text-muted" style="font-size: 35px;"></i>
                                }

                            }

                        </div>
                    </div>
                </div>
                <div class="form-group" id="feedback-area">
                    @if (feedbacks.Count < 1)
                    {
                        <p class="text-center text-warning">フィードバックがありません</p>
                    }
                    else
                    {
                        @foreach (var item in feedbacks)
                        {
                            var year = item.FeedbackAt.Year;
                            var month = item.FeedbackAt.Month;
                            var day = item.FeedbackAt.Day;
                            var temp = year + "年" + month + "月" + day + "日";
                            <label for="">@temp</label>
                            <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId" value="@item.FeedBack" readonly>
                            <small id="helpId" class="text-muted"></small>
                        }
                    }

                </div>
                <div class="row">
                    <div class="col-3 m-auto paging">
                        <i class="fas fa-fast-backward text-muted" style="cursor:pointer; font-size:20px;" id="first" title="First"></i>
                        <i class="fas fa-step-backward text-muted" title="Previous Page" style="cursor:pointer; font-size:20px;" id="previous"></i>
                        <span id="page">1</span>
                        <i class="fas fa-step-forward" tle="Next Page" style="cursor:pointer; font-size:20px;" id="next"></i>
                        <i class="fas fa-fast-forward" style="cursor:pointer; font-size:20px;" id="last" title="Last"></i>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-4 m-auto">
                        <h5 class="text-center"><button style="width: 130px;" type="button" name="" id="back" class="btn btn-success" btn-lg btn-block href="/GasStation">リストに戻る</button></h5>
                    </div>
                    
                </div>
            </form>
        </div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="~/js/components/feedback/feedback.js"></script>