﻿@model IEnumerable<GasStationTraining.Models.CustomModels.GasStationList>
@using GasStationTraining.Models.CustomModels
@using GasStationTraining.Models
@{
    ViewBag.Title = "ガソリンスタンド一覧";
    var gasTypes = (List<GasType>)ViewBag.gasTypes;
    var districts = (List<District>)ViewBag.districts;
    var types = (List<M_Type>)ViewBag.types;
    var totalPage = (int)ViewBag.totalPage;
}

<h2 class="text-center mb-5">
    ガソリンスタンド一覧
</h2>
<input type="hidden" value="0" id="currPage"/>
<input type="hidden" value="@totalPage" id="totalPage"/>
<div class="container">
    <div class="row">
        <div class="col-6">
            <form action="">
                <div class="form-group">
                    <div class="row">
                        <div class="col-5">
                            <label for="" class="d-inline">ガソリンスタンド名:</label>
                        </div>
                        <div class="col-7">
                            <input type="text" name="" id="gasName" class="form-control d-inline" placeholder=""
                                   aria-describedby="helpId" autofocus>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row justify-content-center">
                        <div class="col-5">
                            <label for="" class="d-inline">種類:</label>
                        </div>
                        <div class="col-5 mr-auto">
                            @foreach (var item in types)
                            {
                                <div class="row">
                                    <div class="col-3">
                                        <input type="checkbox" class="form-control h-75" id="@item.TypeText" value="@item.TypeCode">
                                    </div>
                                    <div class="col-6">
                                        <label for="@item.TypeText" style="    margin-left: -28px;"> @item.TypeText</label>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-5">
                            <label for="" class="d-inline">
                                地区:
                            </label>
                        </div>
                        <div class="col-7">
                            <select class="form-control" name="" id="district">
                                <option value=""></option>
                                @{
                                    foreach (var item in districts)
                                    {
                                        <option value="@item.DistrictId">@item.DistrictName</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">

                    </div>
                    <div class="col-7">
                        <button type="button" name="" id="search" class="btn btn-primary" btn-lg btn-block">検索</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="row mt-5">
        <div class="col-4">
            <a href="/GasStation/Create">
                <button type="button" class="btn btn-success text-white h-75" style="padding-bottom: 16px;">
                    登録
                </button>
            </a>
        </div>
        <div class="col-6">
            
        </div>
    </div>
</div>
<table class="table" id="table">
    <thead>
        <tr>
            <th class="text-center">
                Gas Station Name
            </th>
            <th class="text-center">
                Gas Type Name
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() != 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @Html.ActionLink(item.GasStationName, "Feedback", new { id = item.GasStationId })
                    </td>
                    <td class="text-center">
                        @{
                            string type = "";
                            foreach (var x in gasTypes)
                            {
                                if (item.GasStationId == x.GasStationId)
                                {
                                    type += x.TypeText + ", ";
                                }
                            }
                            type = type.Remove(type.Length - 2);

                        }
                        @type
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Longitude)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Latitude)
                    </td>
                    <td class="text-center">
                        @if (item.Rating == "Good")
                        {
                            <i class="fas fa-certificate text-danger"></i>
                        }
                        else if (item.Rating == "Mid")
                        {
                            <i class="fas fa-certificate text-primary"></i>
                        }
                        else
                        {
                            <i class="fas fa-certificate text-muted"></i>
                        }

                    </td>
                    <td class="text-center">
                        <a href="/GasStation/EditView/@item.GasStationId" class="text-warning"><i class="fas fa-edit" style="cursor:pointer;"> </i></a> |
                        <i class="fas fa-trash-alt text-danger" data-toggle="modal" data-target="#exampleModal" id="delete-triger" style="cursor:pointer;" data-gasId="@item.GasStationId"></i>
                    </td>
                </tr>
            }
         }else {
            <tr><td colspan="6" class="text-center text-warning">該当するデータはありません</td></tr>
         }




    </tbody>

</table>
<div class="row">
    <div class="col-2 m-auto paging">
        @if (Model != null && Model.Count() != 0)
        {
            <i class="fas fa-fast-backward text-muted" style="cursor:pointer; font-size:20px;" id="first" title="First"></i>
            <i class="fas fa-step-backward text-muted" title="Previous Page" style="cursor:pointer; font-size:20px;" id="previous"></i>
            <span id="page">1</span>
            <i class="fas fa-step-forward" tle="Next Page" style="cursor:pointer; font-size:20px;" id="next"></i>
            <i class="fas fa-fast-forward" style="cursor:pointer; font-size:20px;" id="last" title="Last"></i>
        }

    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="delete">Ok</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cancle</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="~/js/search.js"></script>
