﻿@{ 
    var userId = (long)ViewBag.userId;
}
<input type="hidden" value="@userId" id="userId"/>
<div class="container pt-5">
    <div class="row mt-5">
        <div class="col-5 m-auto py-3 " style="background-color: aliceblue;">
            <form class="">
                <label class="text-center w-100">ガソリンスタンド管理</label>
                <fieldset>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="" class="d-inline">メール:</label>
                            </div>
                            <div class="col-7">
                                <input type="text" name="" id="user-name" class="form-control d-inline" placeholder=""
                                       aria-describedby="helpId" autofocus tabindex="1">
                                <small id="user-name-err" class="text-danger"></small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="" class="d-inline">パスワード:</label>
                            </div>
                            <div class="col-7">
                                <input type="password" name="" id="password" class="form-control d-inline" placeholder=""
                                       aria-describedby="helpId" tabindex="2">
                                <small id="password-err" class="text-danger"></small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3">

                        </div>
                        <div class="col-7">
                            <div class="row">
                                <div class="col-8 m-auto">
                                    <h4 class="text-center"><button style="width: 130px;" type="submit" name="" id="submit" class="btn btn-primary" btn-lg btn-block tabindex="3">ログイン</button></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="~/js/components/user/login.js"></script>
